<div class="clip-wrapper">
	<div class="clip-inner">
		<div id="ytplayer">
			<%= clip.vid_url_path %>
		</div>
		<h1><%= clip.title %></h1>
		<img src="/assets/thumbnails/koreantest1.jpg" />
		<p>
			<%= clip.description %>
		</p>
		<div class="icon-holder">
			<div class="left-holder">
				<%= clip.level %>
				<img src="/assets/cat-icons/intermediate-small.png"/>
			</div>
			<div class="right-holder">
				<img src="/assets/cat-icons/bus-small.png"/>
				<img src="/assets/cat-icons/heart-small.png"/>
			</div>
			<div class="clearme"></div>
		</div>
	</div>
</div>