<div class="clip-wrapper">
	<div class="clip-inner">
		<div id="ytplayer">
			<%= clip.vid_url_path %>
		</div>
		<h1><%= clip.title %></h1>
		<img src="/assets/thumbnails/koreantest1.jpg" />
		<p>
			<%= clip.description %>
		</p>
		<div class="icon-holder">
			<div class="left-holder">
				<% if clip.level == 1 %>
					<img src="/assets/cat-icons/easy-med-g.png"/>
				<% elsif clip.level == 2 %>
					<img src="/assets/cat-icons/intermediate-med-g.png"/>
				<% else %>
					<img src="/assets/cat-icons/hard-med-g.png"/>
				<% end %>
			</div>
			<div class="right-holder">
				<%clip.categories.each do |cat|  %>
					<% delim_path = cat.path.split('-y.')[0] + '-small.png' %>
					<%= image_tag(delim_path) %>
				<% end %>
			</div>
			<div class="clearme"></div>
		</div>
	</div>
</div>