<div class="clip-wrapper">
	<div class="clip-inner">
		<h1>Test Title</h1>
		<img src="/assets/thumbnails/koreantest1.jpg" />
		<p>
			this is a test example of a description.
			the huskers are losing of course.
			their defense is terrible.
		</p>
		<div class="icon-holder">
			<div class="left-holder">
				<img src="/assets/cat-icons/intermediate-small.png"/>
			</div>
			<div class="right-holder">
				<img src="/assets/cat-icons/bus-small.png"/>
				<img src="/assets/cat-icons/heart-small.png"/>
			</div>
			<div class="clearme"></div>
		</div>
	</div>
</div>
