// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$leftWidth: 48px;
$enhanceColor: #fff;
$primaryColor: #80BCA3;
$secColor: #888;//#BF4D28;
$thirdColor: #F6F7BD;
$darkColor: #E6AC27;//#655643 //brown;
$mainWidth: 1200px;
$catHeight: 528px; //(height of each li + 24 padding) * the number of li categories
$difLevelHeight: 92px; //$catHeight / 3 - (12 padding per item)
$shadow: #999;
$orangeRed: #BF4D28;

body{
	background: url('/assets/backgrounds/tree_bark.png');
//	background-color: $enhanceColor;
}

div.inner-wrapper{
	position: relative;
	width: $mainWidth;
	margin: 0px auto;
	z-index: 8;
}

div.header-banner{
	height: 8px;
	background-color: $orangeRed;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;

	div.inner-wrapper{

		#logo{
			position: absolute;
			left: -60px;
			top: 0px;
			height: 150px;
		}
	}
}

div.content{
	float: left;
	padding: 16px 0px;

	.col:first-child{
		padding-left: 46px;
		border-left: 1px solid transparent;
	}

	div.col{
		width: 300px;
		min-height: 700px;
		text-align: center;
		float: left;
		border-left: 1px dotted #e6e6e7;

		div.clip-wrapper{
			//border: 4px solid $primaryColor;
			// border-radius: 4px;
			display: inline-block;
			//box-shadow: -2px 2px 3px #888;
			// border-left: 2px solid #ececec;
			// border-bottom: 2px solid #ececec;
			// border-top: 2px solid #fafafa;
			// border-right: 2px solid #fafafa;
			// margin-bottom: 54px;
			background-color: #fff;
			border-bottom: 1px solid #f5f5f5;
			padding: 0px 16px;

			div.clip-inner{
				width: 196px;
				text-align: center;
				margin: 10px 0px;

				#ytplayer{
					display: none;
				}

				h1{
					color: $orangeRed;
					font-weight: bold;
					font-size: 14px;
					text-align: center;
					padding: 4px;
				}

				img{
					height: 90px;
					//width: 140px;
				}

				p{
					padding: 4px;
					color: $secColor;
					text-align: left;
					font-size: 10pt;
					font-family: Calibri;
				}

				div.icon-holder{
					text-align: right;
					padding: 4px;

					div.left-holder{
						float: left;

						img{
							height: 16px;
							width: 16px;
						}
					}

					div.right-holder{
						float: right;

						img{
							height: 16px;
							width: 16px;
						}
					}
				}
			}
		}

		div.clip-wrapper:hover{
			cursor: pointer;
			background-color: $thirdColor;
			// border-left: 2px solid #fafafa;
			// border-bottom: 2px solid #fafafa;
			// box-shadow: 2px 2px 3px #bbb;
		}
	}
}

ul.cat-holder-hor{
	//height: $catHeight;
	float: left;

	li{
		display: block;
		text-align: center;
		border-radius: 8px 0px 0px 8px;

		a{

			img{
				height: 28px;
				width: 28px;
			}
		}
	}

	li.active{
		background-color: $enhanceColor;
		box-shadow: -2px 2px 3px $shadow;
		position: relative;
	}

	li:hover{
		cursor: pointer;
	}
}

div.left-wrapper{
	width: 100px;
	float: left;

	div.go-left{

		ul{

			li{
				height: $difLevelHeight;
				line-height: 128px;
			}

			li.active{			
				background-color: $darkColor;
			}
		}
	}

	div.go-right{

		ul{
			background-color: $darkColor;
		}
	}
}

div.left-col{
	float: left;
	position: fixed;
//	background-image: url('/assets/backgrounds/billie_holiday.png');

	div.logo-wrapper{

		div{
			width: 69px;
			height: 80px;
		}

		div.brown-me{
			background-color: $darkColor;
			box-shadow: -2px 2px 3px $shadow;
		}
	}

	div.go-left{

		ul.levels{
			padding-top: 160px;

			li{

				a{
					padding: 36px 20px;
					display: inline-block;

					img{
						height: 32px;
						width: 32px;
					}
				}

				a:hover{
					background-color: transparent;
				}
			}

			li.active{
				background-color: $darkColor;
			}
		}

		ul.cats{
			background-color: $darkColor;
			padding-left: 16px;
			box-shadow: -2px 2px 3px $shadow;
			height: 806px;
			padding-top: 100px;

			li{

				a{
					padding: 18px 10px;
					display: inline-block;

					img{
						height: 28px;
						width: 28px;
					}
				}

				a:hover{
					background-color: transparent;
				}

			}

			li:active{
				background-color: $enhanceColor;
				box-shadow: -2px 2px 3px $shadow;
				position: relative;
			}
		}

		div.shadow-box{
			height: 806px;
			width: 2px;
			background-color: white;
			float: left;
			box-shadow: -2px 2px 3px $shadow;
		}

	}

}

div.right-col{
	float: left;
	background-color: $enhanceColor;
//	height: 750px;
	width: 1000px;
	box-shadow: -2px 2px 3px $shadow;
	margin-left: 138px;
}

div.modal{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 99;

}

div.modal-inner{
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -240px;
	margin-left: -426px;
	width: 853px;
	height: 480px;
	background-color: white;
	z-index: 100;
}