<div class="go-left">
	<ul class="cat-holder-hor cats">
		<li><img src="/assets/cat-icons/speech-y.png" /></li>
		<li><img src="/assets/cat-icons/phone-y.png" /></li>
		<li><img src="/assets/cat-icons/burger-y.png" /></li>
		<li class="active"><img src="/assets/cat-icons/bus-b.png" /></li>
		<li><img src="/assets/cat-icons/heart-y.png" /></li>
		<li><img src="/assets/cat-icons/cart-y.png"/></li>
	</ul>
</div>