<div class="wrapper bg-vert header-banner">
	<div class="inner-wrapper">
	<h1>BAKPAGI</h1>
	<!--
		<ul class="cat-holder">
			<li><img src="/assets/cat-icons/easy-med.png" /></li>
			<li class="active"><img src="/assets/cat-icons/intermediate-med.png" /></li>
			<li><img src="/assets/cat-icons/hard-med.png" /></li>
		</ul>
		<div class="clearme"></div>
	!-->
	</div>
</div>