<div class="go-left">
	<ul class="cat-holder-hor levels">
		<li class="active">
			<%= link_to image_tag('/assets/cat-icons/easy-med-y.png'), :action => :refresh_clips, :remote => true, :uLevel => 1, :uCat => @uCat %>
		</li>
		<li>
			<%= link_to image_tag('/assets/cat-icons/intermediate-med-g.png'), :action => :refresh_clips, :remote => true, :uLevel => 2, :uCat => @uCat %>
		</li>
		<li>
			<%= link_to image_tag('/assets/cat-icons/hard-med-g.png'), :action => :refresh_clips, :remote => true, :uLevel => 3, :uCat => @uCat %>
		</li>
	</ul>
</div>