
<div class="left-wrapper">
	<div class="go-left">
		<ul class="cat-holder-hor">
			<li><img src="/assets/cat-icons/easy-med-g.png" /></li>
			<li class="active"><img src="/assets/cat-icons/intermediate-med-y.png" /></li>
			<li><img src="/assets/cat-icons/hard-med-g.png" /></li>
		</ul>
	</div>
	<div class="clearme"></div>
</div>